sun 
../assets/64Sphere.obj
../assets/preview_sun.bmp
root
0.02
0.5
0
1
mercury
../assets/64Sphere.obj
../assets/mercurymap.bmp
sun
0.5
4.15
1.935
.25
venus
../assets/64Sphere.obj
../assets/venusmap.bmp
sun
0.01
1.622
3.615
.3
earth
../assets/64Sphere.obj
../assets/earthmap1k.bmp
sun
0.048
1
5
.5
moon
../assets/64Sphere.obj
../assets/moon.bmp
earth
1.35
13.5
0.5
0.125
mars
../assets/64Sphere.obj
../assets/marsmap1k.bmp
sun
0.5
0.531
7.6
.35
jupiter
../assets/64Sphere.obj
../assets/jupitermap.bmp
sun
0.5
0.084
26
.8
saturn
../assets/64Sphere.obj
../assets/saturnmap.bmp	
sun
0.5
0.034
47.9
.75
uranus
../assets/64Sphere.obj
../assets/uranusmap.bmp	
sun
0.5
0.0119
50
.6
neptune
../assets/64Sphere.obj
../assets/neptunemap.bmp
sun
0.5
0.006
55
.59
pluto
../assets/64Sphere.obj
../assets/plutomap1k.bmp
sun
0.5
0.004
60
.093
