sun 
../assets/64Sphere.obj
../assets/preview_sun.bmp
root
0.02
0.5
0
1.5
mercury
../assets/64Sphere.obj
../assets/mercurymap.bmp
sun
0.5
4.15
1.935
0.25
venus
../assets/64Sphere.obj
../assets/venusmap.bmp
sun
0.01
1.622
3.615
0.3
earth
../assets/64Sphere.obj
../assets/earthmap1k.bmp
sun
0.048
1
5
.5
moon
../assets/64Sphere.obj
../assets/moon.bmp
earth
2.0
10.0
0.5
0.125
mars
../assets/64Sphere.obj
../assets/marsmap1k.bmp
sun
0.5
0.531
7.6
.35
jupiter
../assets/64Sphere.obj
../assets/jupitermap.bmp
sun
0.5
0.084
26
0.8
saturn
../assets/64Sphere.obj
../assets/saturnmap.bmp	
sun 	
0.5
0.034
47.9
0.75
uranus
../assets/64Sphere.obj
../assets/uranusmap.bmp	
sun
0.5
0.0119
96
0.6
neptune
../assets/64Sphere.obj
../assets/neptunemap.bmp
sun
0.5
0.006
150.25
0.59
pluto
../assets/64Sphere.obj
../assets/plutomap1k.bmp
sun
0.15
0.004
197.4
0.093
io
../assets/64Sphere.obj
../assets/io.jpg
jupiter
.135
1.35
0.6
0.125
europa
../assets/64Sphere.obj
../assets/europa.jpg
jupiter
0.065
0.65
0.8
0.125
ganymede
../assets/64Sphere.obj
../assets/ganymede.jpg
jupiter
0.03
0.3
1.07
0.250
callisto
../assets/64Sphere.obj
../assets/callisto.jpg
jupiter
0.015
0.15
1.882
0.21
titan
../assets/64Sphere.obj
../assets/callisto.jpg
saturn
0.015
0.15
1.8
0.21
rhea
../assets/64Sphere.obj
../assets/callisto.jpg
saturn
0.1
1.0
0.8
0.075
triton
../assets/64Sphere.obj
../assets/callisto.jpg
neptune
0.1
1.0
0.8
0.1
ariel
../assets/64Sphere.obj
../assets/ariel.jpg
uranus
0.075
.75
0.6
0.03
umbriel
../assets/64Sphere.obj
../assets/umbriel.jpg
uranus
0.05
0.5
0.9
0.05
titania
../assets/64Sphere.obj
../assets/titania.jpg
uranus
0.025
0.25
1.3
0.1