sun 
../assets/Sphere.obj
../assets/preview_sun.bmp
root
0.5
0.5
0
mercury
../assets/Sphere.obj
../assets/mercurymap.bmp
sun
0.5
0.5
1
venus
../assets/Sphere.obj
../assets/venusmap.bmp
sun
0.5
0.5
2
earth
../assets/Sphere.obj
../assets/earthmap1k.bmp
sun
0.5
0.5
3
moon
../assets/Sphere.obj
../assets/moonmap2k.bmp
earth
0.5
0.5
4
mars
../assets/Sphere.obj
../assets/marsmap1k.bmp
sun
0.5
0.5
5
jupiter
../assets/Sphere.obj
../assets/jupitermap.bmp
sun
0.5
0.5
6
saturn
../assets/Sphere.obj
../assets/saturnmap.bmp	
sun
0.5
0.5
7
uranus
../assets/Sphere.obj
../assets/uranusmap.bmp	
sun
0.5
0.5
8
neptune
../assets/Sphere.obj
../assets/neptunemap.bmp
sun
0.5
0.5
9
pluto
../assets/Sphere.obj
../assets/plutomap1k.bmp
sun
0.5
0.5
10
